* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px;
}

nav img {
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 0 15px;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: black;
}

li a.login-btn {
    color: red;
    border: 1px solid red;
    padding: 3px 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px 70px;
}

header h2 {
    font-size: 35px;
    font-weight: 900;
}

header h2 span{
    display: block;
}

header img {
    max-width: 100%;
}

header p {
    padding: 23px 0;
    color: #363535;
    word-spacing: 1px;
}

header div button {
    padding: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent;
    color: rgb(28, 28, 83);
    border: none;
    cursor: pointer;
}

header div p + button {
    background-color: rgb(34, 34, 121);
    color: white;
    margin-right: 5px;
}

header div button.firefox-btn {
    background-color: rgb(243, 241, 241);
    color: black;
}

section {
    text-align: center;
    padding: 20px 70px;
    margin: 30px 0;
}

section h2 {
    padding: 0 0 12px 0;
}

section div.features-details, section div.extension-details,
section div.faq-details{
    display: block;
    margin: auto;
    max-width: 480px;
}

section div p {
    font-size: 14px;
    color: #363535;
}

section div.features-lists-wrapper {
    display: block;
    margin: 15px auto;
}

section div.features-lists {
    max-width: 600px;
    display: block;
    margin: 30px auto;
}

section div.features-lists ul {
    display: flex;
    place-content: center space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #423e3e;
}

section div.features-lists ul:hover {
    border-bottom: none;
    padding-bottom: 1px;
}

section div.features-lists ul li:nth-child(even):hover{
    padding-bottom: 4px;
    border-bottom: 3px solid red;
    cursor: pointer;
    color: red;
}

section div.features-lists ul li:nth-child(odd):hover{
    padding-bottom: 4px;
    border-bottom: 3px solid red;
    cursor: pointer;
    color: red;
}

section div.features-lists li {
    list-style-type: none;
    color: #797474;
    font-size: 14px;
}

section div.features-lists-wrapper hr {
    color: red;
    background-color: blue;
}

section div.features-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

section div.features-content-wrapper img {
    max-width: 100%;
    width: 450px;
}

section div.features-content-one {
    display: flex;
    align-items: center;
}

section div.bookmark-in-one-click {
    max-width: 400px;
    text-align: justify;
}

section div.bookmark-in-one-click h2{
    font-size: 28px;
    color: rgb(43, 43, 170);
}

section div.bookmark-in-one-click p {
    font-size: 14px;
    padding: 5px 0;
}

section div.features-content-one img {
    max-width: 100%;
    margin-right: 50px;
}

section div.features-content-two,
section div.features-content-three{
    display: none;
}

section div.features-lists-wrapper 
div.features-content-one button {
    padding: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(43, 43, 170);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

section div.extension-wrapper{
    display: block;
    margin: 25px auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
}

section div.extension-wrapper img {
    width: 58px;
    height: auto;
}

section div.extension-details p {
    padding: 10px 0;
    margin: 10px 0;
}

section div.extension-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 20px;
    padding: 25px 0;
    border: 1px solid #fff;
    box-shadow: #797474;
    box-shadow: 2px 2px 30px 5px #ddd;
}

section div.extension-box p, img {
    padding: 10px 0;
    font-weight: 600;
}

section div.extension-box button {
    width: 180px;
    height: 38px;
    background-color: rgb(43, 43, 170);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
}

section div.extension-box button.firebox-btn {
    background-color: transparent;
    border: 2px solid rgb(43, 43, 170);
    color: black;
}

section div.faq-wrapper{
    display: flex;
    flex-direction: column;
    display: block;
    margin: auto;
    max-width: 700px;
}

section div.faq-one {
   margin: 5px 0;
}

section div.faq-answer{
  text-align: left;
  display: none;
}

section div.faq-question{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 5px;
}

section div.faq-question p {
    font-weight: 700;
}

section div.faq-answer{
    display: block;
}

section div.faq-answer p {
    word-spacing: 2px;
}

section div.faq-wrapper button{
    padding: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(49, 49, 150);
    border: none;
    margin-top: 80px;
}

section#joined{
    margin: 0;
    height: 300px;
    background-color: rgb(49, 49, 150);
}

section div.joined-wrapper {
    display: block;
    margin: auto;
    max-width: 500px;
}

section#joined p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 13px;
}
section#joined h3 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    letter-spacing: 4px;
}

section#joined h3 span {
    display: block;
}

section div.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

section div.contact-us input{
    border: 1px solid grey;
    width: 240px;
    height: 38px;
    border-radius: 5px;
    margin-right: 10px;
}

section div.contact-us button {
    width: 180px;
    height: 38px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 70px;
}


@media screen and (max-width: 1108px) {
  
   nav {
    padding: 25px 25px;
}

li {
    font-size: 13px;
}

header {
    margin-top: 20px;
    padding: 20px 40px;
}

header h2 {
    font-size: 32px;
    font-weight: 700;
}

header p {
    padding: 23px 0;
    word-spacing: 0;
}

section div.features-content-one img {
    margin-right: 30px;
}


section div.features-content-wrapper img {
    width: 400px;
}


}

@media screen and (max-width: 450px) {
    ul {
        display: none;
    }
    
    nav img {
        display: block;
    }
    
}