* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 0 15px;
}

li a {
    text-decoration: none;
    color: black;
}