* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 0 15px;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: black;
}

li a.login-btn {
    color: red;
    border: 1px solid red;
    padding: 3px 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px 70px;
}

header h2 {
    font-size: 24px;
    font-weight: 900;
}

header h2 span{
    display: block;
}

header div p {
    padding: 15px 0;
    color: #363535;
    word-spacing: 1px;
}

header div button {
    padding: 5px;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(28, 28, 83);
}