* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 0 15px;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: black;
}

li a.login-btn {
    color: red;
    border: 1px solid red;
    padding: 3px 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px 70px;
}

header h2 {
    font-size: 35px;
    font-weight: 900;
}

header h2 span{
    display: block;
}

header div p {
    padding: 15px 0;
    color: #363535;
    word-spacing: 1px;
}

header div button {
    padding: 5px;
    width: 150px;
    height: 39px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent;
    color: rgb(28, 28, 83);
    border: none;
}

header div p + button {
    background-color: rgb(34, 34, 121);
    color: white;
    margin-right: 5px;
}

header div button.firefox-btn {
    background-color: rgb(243, 241, 241);
    color: black;
}

section {
    text-align: center;
    padding: 15px 70px;
}

section h2 {
    padding: 0 0 12px 0;
}

section div.features-details {
    display: block;
    margin: auto;
    max-width: 480px;
}
section div p {
    color: #363535;
}